* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    max-height: fit-content;
    font-size: 15px;
}


.hidden {
    display: none;
}

body {
    background-image: url(hinh-anh-background-dep-don-gian_102938083.jpg);
    max-width: 100%;
    display: block;
    height: auto;
}

body.dark {
    background-image: url(hinh-nen-den-trang-dien-thoai-1.jpg);
    color: white;
    z-index: -99;
    max-width: 100%;
    display: block;
    height: auto;
}

header {
    background-color: darkred;
    color: white;
    height: 70px;
    position: relative;
    top: 0;
    z-index: 100;
}

header button {
    display: flex;
    justify-content: left;
    background-color: brown;
    color: white;
    font-size: 20px;
}

header h1 {
    display: inline-block;
    font-size: 40pt;
    line-height: 70px;
    padding-left: 30px;
    justify-content: left;
    position: relative;
    text-shadow: 2px 0px 5px brown;
}

header section {
    justify-content: center;
    position: relative;    
}

#section-lives{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

header h3 {
    justify-content: left;
    padding: 0;
    margin-top: 13px;
    margin-right: 20px;
    margin-bottom: 5px;
    position: sticky;
}

header section p {
    margin-right: 30px;
}

.btn-pause {
    box-sizing: border-box;
    border-width: 10px 0px 10px 16px;
    border-color: transparent transparent transparent #202020;
    margin-left: 40px;
    width: 20px;
    height: 20px;
}

.btn-play {
    border-left: 6px solid white;
    border-right: 6px solid white;
    border-bottom: 0;
    border-top: 0;
    display: block;
    width: 17px;
    height: 20px;
    margin-left: 40px;
}

#wrap {
    display: block;
    position: absolute;
    margin-top: 3%;
    margin-bottom: 3%;
    top: 47.5%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#setup-game {
    display: flex;
    float: right;
}

button {
    justify-self: center;
}

p#timer {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
}

p#lives {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    position: relative;
    line-height: 70px;
    
}

#game {
    display: flex;
    justify-content: center;
    position: relative;
}

#number-container {
    position: absolute;
    width: 250px;
    top: 40%;
    right: -70%;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%);
}

#number-container p {
    border: 1px solid #49599a;
    border-radius: 10%;
    width: 80px;
    height: 80px;
    font-size: 35pt;
    text-align: center;
    float: left;
    display: block;
    line-height: 80px;
}

#number-container p:hover{
    background-color: #49599a;
    cursor: pointer;
}

#number-container button:hover {
    opacity: 0.5;
    cursor: pointer;    
}

#number-option button {
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
}

.pen-off {
    background-image: url(158467734_1144706486040471_4698769863524688849_n.png);
}

.pen-on {
    background-image: url(158292483_771467476722194_3564284464715627126_n.png);
}

.delete {
    background-image: url(Capture.PNG);
}

.solution {
    background-image: url(Capture2.PNG);
}

#board {    
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 550px;
    height: auto;
    position: relative;    
    justify-content: center;
}

.tile {
    border: 1px solid darkred;
    width: 55px;
    height: 55px;
    text-align: center;
    margin: 0px;
    line-height: normal;
    vertical-align: middle;
    font-size: 35pt;
    position: relative;
    z-index: 1;
}

.tile:hover:empty {
    background-color: #49599a;
    cursor: pointer;
}

p.selected {
    background-color: darkgrey;
}

p.incorrect {
    color: red;
}

.rightBorder {
    border-right: 5px solid brown;
    z-index: 10;
}

.leftBorder {
    border-left: 5px solid brown;
    z-index: 10;
}

.topBorder {
    border-top: 5px solid brown;
    z-index: 10;
}

.bottomBorder {
    border-bottom: 5px solid brown;
    z-index: 10;
}

footer {
    background-color: dimgray;
    text-align: center;
    line-height: 40px;
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    font-size: 18px;
    z-index: 1;
    opacity: 0.7;
    margin-top: 50px;
}

/* Dành cho điện thoại */






